{% extends "layout.twig" %}

{% block contents %}
    <link rel="stylesheet" href="{{ resources }}css/index.css">

    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h2 class="text-center"><i class="glyphicon glyphicon-road"></i> Train Game | Map Generator P.o.c</h2>

                <div id="game-container">
                    <div id="game">
                        <div id="map"></div>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript" src="{{ resources }}js/app.js"></script>
{% endblock %}