<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Train Game POC</title>

        <!-- Bootstrap -->
        <link href="{{ resources }}bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
        <link href="{{ resources }}bower_components/bootstrap/dist/css/bootstrap-theme.min.css" rel="stylesheet">
    </head>
    <body>

        <script src="{{ resources }}bower_components/jquery/dist/jquery.min.js"></script>
        <script src="{{ resources }}bower_components/lodash/dist/lodash.min.js"></script>

        {% block contents %}Contents block is empty...{% endblock %}

        <script src="{{ resources }}bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    </body>
</html>