<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Media List</title>
    </head>
    <body>
        {% block contents %}Empty Page{% endblock %}
    </body>
</html>