{% extends "layout.twig" %}

{% block contents %}
    <div>
        <h2>Beğendiğim Resimler</h2>
        {% if userLikedMedia is defined and userLikedMedia %}
            <ul style="margin: 0; list-style: none; padding: 0;">
                {% for media in userLikedMedia %}
                    <li style="float:left; margin: 5px;">
                        <img width="100" src="{{ media.images.standard_resolution.url }}" />
                    </li>
                {% endfor %}

            </ul>
        {% else %}
            <p>Resim bulunamadı</p>
        {% endif %}
    </div>

    <br clear="all"><br>
    <br><br>

    <div>
        <h2>Arkadaşlarımın Beğendiği Resimler</h2>
        {% if friendsLikedMedia is defined and friendsLikedMedia %}
            <ul style="margin: 0; list-style: none; padding: 0;">
                {% for media in friendsLikedMedia %}
                    <li style="float:left; margin: 5px;">
                        <img width="100" src="{{ media.images.standard_resolution.url }}" />
                    </li>
                {% endfor %}
            </ul>
        {% else %}
            <p>Resim bulunamadı</p>
        {% endif %}
    </div>



{% endblock %}